<% if notice %>
  <div class="alert alert-success" role="alert">
  <% if notice.kind_of?(Array) %>
    <ul>
    <% notice.values.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  <% else %>
    <%= notice %>
  <% end %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" role="alert">
    <% if alert.kind_of?(Array) %>
      <ul>
      <% alert.values.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    <% else %>
      <%= alert %>
    <% end %>
  </div>
<% end %>