<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/favicon.ico">

    <title>One Small Step</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/normalize.css" rel="stylesheet" type="text/css" />
	<link href="/assets/component.css" rel="stylesheet" type="text/css" />

    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/ionicons.min.css" rel="stylesheet">
	<script src="/assets/modernizr.custom.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/ie10-viewport-bug-workaround.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/retina-1.1.0.js"></script>
	<script src="/assets/svgcheckbx.js"></script>
	<script src="/assets/main.js"></script>
  <script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>
    <style>
		#sep {
			background: url(/assets/sep.jpg) no-repeat bottom;
		}
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="h">
      <div class="logo">
      	<a href="/"><img src="/assets/logo.png"></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
          	<h1>SHOWING WOMEN WHAT'S POSSIBLE</h1>
          	<h3>We help Southeast Asia women take the first step to understanding the technology around them.</h3>
            <!-- <h1>One small step for (wo)man.
            <br/>
            <i>One giant leap for (wo)mankind.</i></h1> -->
            <div class="mtb">
              <!-- <form role="form" action="register.php" method="post" enctype="plain">  -->
               <!--  <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
                <button class='btn btn-conf btn-green' type="submit">Start your free trial</button> -->
                <button class='btn btn-conf btn-yellow' data-toggle="modal" data-target="#login-modal">Sign In</button>


              <!-- </form> -->
            </div><!--/mt-->
            <!-- <h6>30 DAY FREE TRIAL - NO CREDIT CARD NEEDED.</h6> -->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container ptb">
      <div class="row">
        <div class="col-md-6">
          <h2>We're the tech orientation you never knew you needed.</h2>
          <p class="mt">What is the difference between the Internet and the World Wide Web? How about a website and a web app? Heck, how do they even work?! We address all those questions — and more — using fun, addictive and interactive games. <br/>
          	No BS. No judgment. No commitments. Just learning. <br/>
	      	We want to help smart, savvy 21st century ladies take ONE SMALL STEP in the right direction — to join the technology revolution.</p>
          <p class="store">
            <!-- <a href="#"><img src="assets/img/app-store.png" height="50" alt=""></a>
            <a href="#"><img src="assets/img/google-play.png" height="50" alt=""></a> -->
          </p>
        </div>
        <div class="col-md-6">
          <img src="/assets/items.png" class="img-responsive mt" alt="">
        </div>
      </div><!--/row-->
    </div><!--/container-->

    <div id="sep" style="background-size: cover">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>Before women can take one giant leap into technology,
they need to take ONE SMALL STEP.</h1>
            <p style="color: white">Getting a majority of women into tech may seem like a pipe-dream for now, but we can always start building a talent pipe-line. One Small Step offers bite-sized, multi-tiered games that are based on the everyday technologies we use and love. With engagement comes understanding. Our hope is for both women and girls alike to take the first step into this whole new world — and realize that coding isn't the impossible feat they made it out to be. </p>
            <!-- <p><button class="btn btn-conf-2 btn-yellow">Learn More</button></p> -->
          </div>
        </div>
      </div>
    </div>

<!--     <div class="container ptb trivia">
    	<section>
								<form class="ac-custom ac-radio ac-circle" autocomplete="off">
									<h2>Quiz #1: What is the Internet?</h2>
									<ul>
										<li><input id="r5" name="r2" type="radio"><label id="r5label"for="r5">Facebook, Instagram, Snapchat</label></li>
										<li><input id="r6" name="r2" type="radio"><label id="r6label" for="r6">3G, 4G LTE</label></li>
										<li><input id="r7" name="r2" type="radio"><label id="r7label"for="r7">Interconnected network of cables</label></li>
										<li><input id="r8" name="r2" type="radio"><label id="r8label"for="r8">Online Shopping</label></li>
									</ul>
								</form>
							</section>
	</div>
 -->
	<div class="container ptb">
      <div class="row centered">

        <h2 class="mb">Our Pricing Model<br/>It's Quite Easy To Understand.</h2>
        <div class="col-md-4">
          <div class="price-table" style="margin-top: 90px">

              <div class="p-body">
                <ul class="features">
                  <li>GAME LEVELS</li>
                  <li>'PAIRED PROGRAMMING'</li>
                  <li>VIRTUAL MENTORS</li>
                  <li>LEARNING RESOURCES</li>
                  <li>COMMUNITY SUPPORT</li>
                </ul>
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->
        <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                FREE
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>up to ten (10)</li>
                  <li>X</li>
                  <li>X</li>
                  <li>X</li>
                  <li>X</li>
                </ul>
                <div class="price">
                  <span class="detail">FREE</span>
                </div><!--/price-->
                <button class="btn btn-conf-2 btn-grey" disabled>Coming Soon!</button>
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->
         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                PREMIUM
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>all available</li>
                  <li>Yes</li>
                  <li>Yes</li>
                  <li>Yes</li>
                  <li>Yes</li>
                </ul>
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">9.99</span>
                  <span class="sub">/mo.</span>
                </div><!--/price-->
                <!-- <button class="btn btn-conf-2 btn-green">Subscribe Now</button> -->
                <button data-sc-key="sbpb_ZmYzZGZiMTAtNTYzMi00YmM4LWI4MmEtZmZmODgxNzVmZGIw"
                        data-name="Premium - OSS"
                        data-description="Premium monthly payment"
                        data-reference="111111"
                        data-amount="999"
                        data-color="#12B830"
                        data-masterpass="true">
                        Subscribe Now
                </button>
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div>

        
      </div><!--/row-->
      <br>
      <div class="row centered">
       <h2 class="mb ">
       WHY GO PREMIUM?
       <br>
       <br><small>Here at One Small Step, we believe in women empowering women.</small>
       </h2>
       <br>
       <h3 class="mb ">
       <i>Lifting As You Climb</i>
       </h3>
       <h2 class="mb ">
       <small>We're excited to share our special <b>B1G1 - Buy ONE Give ONE</b> model.</small><br><br>
       <small>For every Premium account you purchase, not only do you get to take One Small Step (with loads more awesomeness!) in the right direction, you'd be taking another woman along with you.<br><br>Every cent you pay goes to The One Small Step Foundation, a coding bootcamp fund we've set up to empower more ladies living in underprivileged communities around SEA. Our hope is for women from all walks of life to consider programming and tech as a career.</small>
       </h2>

         </div>
    </div><!--/container-->

    <div id="g">
      <div class="container">
        <div class="row sponsor centered">
          <div class="col-sm-2 col-sm-offset-1">
            <img src="/assets/client1.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="/assets/client3.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="/assets/client2.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="/assets/client4.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="/assets/client5.png" alt="">
          </div>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <div id="green">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 centered">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <h3>Today, two and a half billion people are connected to the Internet. There are more cellphone users than toothbrush users. You look at how intrinsic information technology is to all aspects of society and all aspects of modern life. Would you want any demographic group to be left out of shaping something that is so important to our future?" </h3>
                  <h5><tgr>David Culler, chair of UC Berkeley's Electrical Engineering and Computer Sciences</tgr></h5>
                </div>
                <div class="item">
                  <h3>If the internet is for all, then all kinds of people should be able to take part.</h3>
                  <h5><tgr>The Guardian</tgr></h5>
                </div>
                <div class="item">
                  <h3>Only 30% of Google's employees are women. Out of that number, 17%  are female TECH employees.</h3>
                  <h5><tgr>Google Diversity Report, 2013</tgr></h5>
                </div>
                <div class="item">
                  <h3>According to the US Labor Department, only 20% of software developers in the States are women, and only 12% of computer science degrees go to women. In 1984, the number of 37%.</h3>
                  <h5><tgr>US Labor Department 2014</tgr></h5>
                </div>
              </div>
            </div><!--/Carousel-->

          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/green-->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>We love mails, send us one!</h2>
          <h5>hello@onesmallstep.com</h5>
          <h6 class="mt">COPYRIGHT 2015 - One Small Step</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->


<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header login_modal_header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
          </div>
          <div class="modal-body login-modal">
            <br/>
            <div class="clearfix"></div>
            <div id='social-icons-container'>
              <div class='modal-body-left'>
              <form action="/dashboard">
                <div class="form-group">
                      <input type="text" id="username" placeholder="Email" value="" class="form-control login-field" required>
                      <i class="fa fa-user login-field-icon"></i>
                  </div>

                  <div class="form-group">
                      <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field" required>
                      <i class="fa fa-lock login-field-icon"></i>
                  </div>

                  <input type="submit" class="btn btn-success modal-login-btn" value="Login"><br/><br/>
              </form>
              </div>

            </div>
            <div class="clearfix"></div>

            <!-- <div class="form-group modal-register-btn">
              <button class="btn btn-default"> New User Please Register</button>
            </div> -->
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer login_modal_footer">
          </div>
      </div>
    </div>
</div>

  </body>
</html>
