<input type="hidden" name="TransferRequest[LocalDate]" value="<%= Time.now.strftime('%m%d') %>">
<input type="hidden" name="TransferRequest[LocalTime]" value="<%= Time.now.strftime('%H%M%S') %>">
<input type="hidden" name="TransferRequest[TransactionReference]" value="<%= Random.new_seed.to_s[0..18] %>">
<input type="hidden" name="TransferRequest[SenderName]" value="<%= @startup.sender_name %>">
<input type="hidden" name="TransferRequest[SenderAddress[Line1]]" value="<%= @startup.address_line1 %>">
<input type="hidden" name="TransferRequest[SenderAddress[Line2]]" value="<%= @startup.address_line2 %>">
<input type="hidden" name="TransferRequest[SenderAddress[City]]" value="<%= @startup.address_city %>">
<input type="hidden" name="TransferRequest[SenderAddress[CountrySubdivision]]" value="<%= @startup.address_country_subdivision %>">
<input type="hidden" name="TransferRequest[SenderAddress[PostalCode]]" value="<%= @startup.address_postal_code %>">
<input type="hidden" name="TransferRequest[SenderAddress[Country]]" value="<%= @startup.address_country %>">
<input type="hidden" name="TransferRequest[FundingCard[AccountNumber]]" value="<%= @startup.card_account_number %>">
<input type="hidden" name="TransferRequest[FundingCard[ExpiryMonth]]" value="<%= @startup.card_expiry_month %>">
<input type="hidden" name="TransferRequest[FundingCard[ExpiryYear]]" value="<%= @startup.card_expiry_year %>">
<input type="hidden" name="TransferRequest[FundingMasterCardAssignedId]" value="<%= @startup.master_card_assigned_id %>">
<input type="hidden" name="TransferRequest[ReceiverAddress[Line1]]" value="<%= @receiver.receiver_address.line1 %>">
<input type="hidden" name="TransferRequest[ReceiverAddress[Line2]]" value="<%= @receiver.receiver_address.line2 %>">
<input type="hidden" name="TransferRequest[ReceiverAddress[City]]" value="<%= @receiver.receiver_address.city %>">
<input type="hidden" name="TransferRequest[ReceiverAddress[CountrySubdivision]]" value="<%= @receiver.receiver_address.country_subdivision %>">
<input type="hidden" name="TransferRequest[ReceiverAddress[PostalCode]]" value="<%= @receiver.receiver_address.postal_code %>">
<input type="hidden" name="TransferRequest[ReceiverAddress[Country]]" value="<%= @receiver.receiver_address.country %>">
<input type="hidden" name="TransferRequest[ReceiverPhone]" value="<%= @receiver.phone %>">
<input type="hidden" name="TransferRequest[CardAcceptor[Name]]" value="<%= @receiver.card_acceptor.name %>">
<input type="hidden" name="TransferRequest[CardAcceptor[City]]" value="<%= @receiver.card_acceptor.city %>">
<input type="hidden" name="TransferRequest[CardAcceptor[State]]" value="<%= @receiver.card_acceptor.state %>">
<input type="hidden" name="TransferRequest[CardAcceptor[PostalCode]]" value="<%= @receiver.card_acceptor.postal_code %>">
<input type="hidden" name="TransferRequest[CardAcceptor[Country]]" value="<%= @receiver.card_acceptor.country %>">
<input type="hidden" name="TransferRequest[ReceivingCard[AccountNumber]]" value="<%= @receiver.account_number %>">
<input type="hidden" name="TransferRequest[ReceiverName]" value="<%= @receiver.name %>">
<input type="hidden" name="TransferRequest[Channel]" value="W">

<input type="hidden" name="TransferRequest[FundingAmount[Value]]" id="fund_value">
<input type="hidden" name="TransferRequest[ReceivingAmount[Value]]" id="fund_value">
<input type="hidden" name="TransferRequest[FundingAmount[Currency]]" value="840">
<input type="hidden" name="TransferRequest[ReceivingAmount[Currency]]" value="840">
<input type="hidden" name="TransferRequest[UCAFSupport]" value="true">
<input type="hidden" name="TransferRequest[ICA]" value="009674">
<input type="hidden" name="TransferRequest[ProcessorId]" value="9000000442">
<input type="hidden" name="TransferRequest[RoutingAndTransitNumber]" value="990442082">