
    <style>
		#h:before {
			background-color: rgba(0, 0, 0, 0.1);
		}
		.centered {
			text-align: center
		}

		.mt {
			margin-top: 80px;
		}

		.mb {
			margin-bottom: 80px;
		}
		.gallery {
			margin-top: 30px;
		}

		.gallery img:hover {
			opacity: 0.4;
		}
    </style>



    <div id="h" style="background: url(/assets/sep.jpg) no-repeat center top; background-size: cover;">
      <div class="logo">
      	<a href="/"><img src="/assets/logo.png"></a>
      </div>
      <div class="social hidden-xs">
<!--       	<a href="#">My Account</a> -->
        <!-- <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a> -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
          	<h1>How does Instagram works?</h1>
          	<h3>Understanding starts with technology nears you</h3>
            <!-- <h1>One small step for (wo)man.
            <br/>
            <i>One giant leap for (wo)mankind.</i></h1> -->
            <div class="mtb">
              <!-- <form role="form" action="register.php" method="post" enctype="plain">  -->
               <!--  <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
                <button class='btn btn-conf btn-green' type="submit">Start your free trial</button> -->
                <a href="/puzzle"><button class='btn btn-conf btn-yellow'>Join Track</button></a>


              <!-- </form> -->
            </div><!--/mt-->
            <!-- <h6>30 DAY FREE TRIAL - NO CREDIT CARD NEEDED.</h6> -->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container">
		<div class="row centered mt mb">
			<h1>Tracks Available</h1>
			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><img src="/assets/portfolio/tracks01.png" class="img-responsive"></a>
				<h3>Facebook Track</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="/"><img src="/assets/portfolio/tracks02.png" class="img-responsive"></a>
				<h3>Instagram Track</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><img src="/assets/portfolio/tracks03.png" class="img-responsive"></a>
				<h3>Mastercard API Track</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><img src="/assets/portfolio/tracks04.png" class="img-responsive"></a>
				<h3>Twitter Track</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><img src="/assets/portfolio/tracks05.png" class="img-responsive"></a>
				<h3>REST API Track</h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="#"><img src="/assets/portfolio/tracks06.png" class="img-responsive"></a>
				<h3>LinkedIn Track</h3>
			</div>
		</div><!--/row -->
	</div><!--/container -->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>We love mails, send us one!</h2>
          <h5>hello@onesmallstep.com</h5>

 <!--          <p class="mt">
            <a href="#"><i class="ion-social-twitter"></i></a>
            <a href="#"><i class="ion-social-dribbble"></i></a>
            <a href="#"><i class="ion-social-instagram"></i></a>
            <a href="#"><i class="ion-social-facebook"></i></a>
            <a href="#"><i class="ion-social-pinterest"></i></a>
            <a href="#"><i class="ion-social-tumblr"></i></a>
          </p> -->
          <h6 class="mt">COPYRIGHT 2015 - One Small Step</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<br/>
      			<div class="clearfix"></div>
      			<div id='social-icons-container'>
	        		<div class='modal-body-left'>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Email" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
		            	</div>
		
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
		            	</div>
		
		            	<a href="#" class="btn btn-success modal-login-btn">Login</a><br/><br/>
		            	<a href="#" class="login-link text-center">Lost your password?</a><br/>
		            	<a href="#" class="login-link text-center">First time here?</a>
	        		</div>
	        	
	        		<!-- <div class='modal-body-right'>
	        			<div class="modal-social-icons">
	        				<a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
	        				<a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
	        				<a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
	        				<a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
	        			</div> 
	        		</div>	
	        		<div id='center-line'> OR </div> -->
	        	</div>																												
        		<div class="clearfix"></div>
        		
        		<!-- <div class="form-group modal-register-btn">
        			<button class="btn btn-default"> New User Please Register</button>
        		</div> -->
      		</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
      		</div>
    	</div>
  	</div>
</div>
<script>
$(document).ready(function() {
  setTimeout(function() { alert("Welcome back!", "You have successfully logged in!", "success") }, 500);
  
});


</script>