<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/favicon.ico">

    <title>One Small Step</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/ionicons.min.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/assets/component.css" />
	<script src="/assets/modernizr.custom.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/jquery.gridster.css" />



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="/assets/jquery-ui.css">
  <script src="/assets/jquery-1.10.2.js"></script>
  <script src="/assets/jquery-ui.js"></script>
  <script src="/assets/jquery.gridster.js"></script>
    <style>
	    #h {
	    	background: url(/assets/sep2.jpg) no-repeat center top;
	    }
		#h:before {
			background-color: rgba(0, 0, 0, 0.0);
		}
		#sortable1 {
			margin-left: 120px;
		}
		#sortable1, #sortable2 {
			
		    float: left;
		    
		  }
		  #sortable1 li, #sortable2 li {
		    margin: 0 5px 5px 5px;
		    padding: 5px;
		    width: 240px;
		  }
		 .ui-state-default {
		 	
		 }
		 .gridster li {
		 	background-color: white;
		 }
		 #h {
		 	padding-bottom: 160px;
		 }
    </style>
    <script>
	  $(function() {

	    $( "#sortable1, #sortable2" ).sortable({
	      connectWith: ".connectedSortable"
	    }).disableSelection();

	    $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [140, 140]
    });


	  });
	  </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="h">
      <div class="logo">
      	<img src="/assets/logo.png">
      </div>
      <div class="social hidden-xs">
      	<a href="/dashboard">My Account</a>
        <!-- <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a> -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
          	<h1>Instagram: Web</h1>
          	<h3>Little bit of puzzle never hurts</h3>
          	<!-- <ul id="sortable1" class="connectedSortable">
			  <li class="ui-state-default" id="first">Open the application</li>
			  <li class="ui-state-default" id="second">Choose picture</li>
			  <li class="ui-state-default">Capture a picture</li>
			  <li class="ui-state-default">Set filters</li>
			  <li class="ui-state-default">Photo Map</li>
			</ul>
			 
			<ul id="sortable2" class="connectedSortable">
			  <li class="ui-state-highlight">Synchronize</li>
			  <li class="ui-state-highlight">Shared post to Facebook</li>
			  <li class="ui-state-highlight">Refresh</li>
			  <li class="ui-state-highlight">Adjust brightness</li>
			  <li class="ui-state-highlight">Crop photo</li>
			</ul> -->
		</div>
		<div class="col-md-12 centered">
			<div class="gridster">
			    <!-- <ul>
			        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" id="i1"></li>
			        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" id="j1"></li>
			        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" id="k1"></li>
			 
			        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" id="i2"></li>
			        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2" id="j2"></li>
			 
			        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" id="i3"></li>
			        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1" id="j3"></li>
			        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" id="k2"></li>
			 
			        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" id="i4"></li>
			        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" id="k3"></li>
			 
			        <li data-row="1" data-col="6" data-sizex="2" data-sizey="1" id="i5"></li>
			        <li data-row="2" data-col="6" data-sizex="2" data-sizey="2" id="j4"></li>

			        <li data-row="4" data-col="4" data-sizex="1" data-sizey="1" id="l2"></li>
			        <li data-row="4" data-col="4" data-sizex="2" data-sizey="1" id="l1"></li>
			        <li data-row="4" data-col="4" data-sizex="1" data-sizey="1" id="l3"></li>
			        <li data-row="4" data-col="4" data-sizex="3" data-sizey="1" id="l4"></li>
			    </ul> -->
			    <ul style="height: 960px; width: 1120px; position: relative;">
			        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" id="i1" class="gs-w">
			        	<button class='btn btn-yellow' data-toggle="modal" data-target="#otheruser-modal">More</button>
			        </li>
			        <li data-row="4" data-col="1" data-sizex="1" data-sizey="1" id="j1" class="gs-w"></li>
			        <li data-row="5" data-col="1" data-sizex="1" data-sizey="1" id="k1" class="gs-w"></li>
			 
			        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" id="i2" class="gs-w"></li>
			        <li data-row="2" data-col="1" data-sizex="2" data-sizey="2" id="j2" class="gs-w"></li>
			 
			        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" id="i3" class="gs-w"></li>
			        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1" id="j3" class="gs-w"></li>
			        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" id="k2" class="gs-w"></li>
			 
			        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" id="i4" class="gs-w"></li>
			        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" id="k3" class="gs-w"></li>
			 
			        <li data-row="1" data-col="6" data-sizex="2" data-sizey="1" id="i5" class="gs-w">
			        	<button class='btn btn-yellow' data-toggle="modal" data-target="#user-modal">More</button>
			        </li>
			        <li data-row="2" data-col="6" data-sizex="2" data-sizey="2" id="j4" class="gs-w"></li>

			        <li data-row="4" data-col="4" data-sizex="1" data-sizey="1" id="l2" class="gs-w"></li>
			        <li data-row="6" data-col="1" data-sizex="2" data-sizey="1" id="l1" class="gs-w"></li>
			        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" id="l3" class="gs-w">
			        	<button class='btn btn-yellow' data-toggle="modal" data-target="#love-modal">More</button>
			        </li>
			        <li data-row="4" data-col="5" data-sizex="3" data-sizey="1" id="l4" class="gs-w"></li>
			    </ul>
			</div>
		</div>
            <!-- <h6>30 DAY FREE TRIAL - NO CREDIT CARD NEEDED.</h6> -->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>We love mails, send us one!</h2>
          <h5>hello@onesmallstep.com</h5>
<!-- 
          <p class="mt">
            <a href="#"><i class="ion-social-twitter"></i></a>
            <a href="#"><i class="ion-social-dribbble"></i></a>
            <a href="#"><i class="ion-social-instagram"></i></a>
            <a href="#"><i class="ion-social-facebook"></i></a>
            <a href="#"><i class="ion-social-pinterest"></i></a>
            <a href="#"><i class="ion-social-tumblr"></i></a>
          </p> -->
          <h6 class="mt">COPYRIGHT 2015 - One Small Step</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <script src="/assets/bootstrap.min.js"></script>
  </body>
</html>

<div class="modal fade" id="otheruser-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">        		
        		<h2 class="modal-title" id="myModalLabel">Other User</h2>
      		</div>
      		<div class="modal-body">
      			<br/>
      			<div class="clearfix"></div>
      			<p>
	      			Other user account is accessible through clicking their picture that leads to their online permanent profile. E.g. instagram.com/antonio_leo. <br/><br/>
	      			<i>Note:</i><br/>
	      			Notice the 's' in 'https'? HTTP means Hypertext Transfer Protocol, the most popular method in delivering web pages to your PC. The additional 's' that means 'secure' was invented to protect users privacy further. Safe browsing!
	      		</p> 
        	</div>																												
    		<div class="clearfix"></div>      		
    	</div>
  	</div>
</div>

<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">        		
        		<h2 class="modal-title" id="myModalLabel">User Account</h2>
      		</div>
      		<div class="modal-body">
      			<br/>
      			<div class="clearfix"></div>
      			<p>
	      			Users can access their profile or setting through the upper right corner picture of themselves.<br/><br/>
	      			<i>Note:</i><br/>
	      			In most websites, menus are often squeezed into dropdown menus to preserve site's clarity and ease of access. Every activity related to the user account are grouped together for quick accessibility. Talk about good user experience!
	      		</p> 
        	</div>																												
    		<div class="clearfix"></div>      		
    	</div>
  	</div>
</div>

<div class="modal fade" id="love-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">        		
        		<h2 class="modal-title" id="myModalLabel">Instagram's Love</h2>
      		</div>
      		<div class="modal-body">
      			<br/>
      			<div class="clearfix"></div>
      			<p>
	      			Instagram's love is accessible through double tapping the picture or tapping on the love button available.
	      			<br/><br/>
	      			<i>Note:</i><br/>
	      			This feature is easily comparable to Facebook's "like" function. The only difference is Instagram was made to cater to mobile market first, thus the alternative in double tapping for 'liking' instead of scrutinizing in finding the like button. It's so popular that the function was quickly overused, giving ways to even faster access like 'swiping' in Tinder.
	      		</p> 
        	</div>																												
    		<div class="clearfix"></div>      		
    	</div>
  	</div>
</div>