<% provide(:title, "Admin") %>
<style>
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
</style>
<div class="alert alert-warning" role="alert">Current funds (USD): <%= @startup.funds %></div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#users">Users</a></li>
  <li><a data-toggle="tab" href="#funds">Manage funds</a></li>
</ul>
<div class="tab-content">
  <div id="users" class="tab-pane fade in active">
    <h3>Users</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td><strong>Email</strong></td>
          <td><strong>Full Name</td></strong></td>
          <td><strong>Date of birth</td></strong></td>
          <td><strong>Role</td></strong></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if @users.empty? %>
        <tr><td>No users to display!</td><td></td><td></td><td></td><td></td></tr>
        <% end %>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.full_name %></td>
          <td><%= user.date_of_birth %></td>
          <td><%= user.role %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="funds" class="tab-pane fade">
    <h3>Manage funds</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td><strong>NGO Name</strong></td>
          <td><strong>Receiver name</strong></td>
          <td><strong>Receiver phone</strong></td>
          <td><strong>Receiver account number</strong></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% if @receivers.empty? %>
        <tr><td>No receivers to display!</td><td></td><td></td><td></td><td></td></tr>
        <% end %>
        <% @receivers.each do |receiver| %>
        <tr>
          <td><%= receiver.ngo_name %></td>
          <td><%= receiver.name %></td>
          <td><%= receiver.phone %></td>
          <td><%= receiver.account_number %></td>
          <td class="col-md-3">
            <ul class="list-inline">
              <li><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#giftModal" data-ngo="<%= receiver.ngo_name %>|<%= receiver.id %>">Gift</button></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% unless @receivers.empty? %>
<div class="modal fade" id="giftModal" tabindex="-1" role="dialog" aria-labelledby="giftModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Gift</h4>
      </div>
      <div class="modal-body">
        <form id="gifting" action="/admin/receivers/gift" method="post">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" name="gift[ngo_name]" id="recipient-name" disabled>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Amount (in USD):</label>
            <input type="text" class="form-control" name="gift[amount]" id="amount">
          </div>
          <!-- <div id="gift-data"></div> -->
          <input type="hidden" name="gift[id]" id="recipient-id">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Gift payment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$('#giftModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var recipient = button.data('ngo').split("|")
  var modal = $(this)
  // $.get("/admin/receivers/gift/" + recipient[1], function( data ) {
  //   modal.find('.modal-body #gift-data').html(data);
  //   console.log(data)
  // });
  modal.find('.modal-body #recipient-name').val(recipient[0])
  modal.find('.modal-body #recipient-id').val(recipient[1])
})
// $("#gifting").submit(function(event) {
//   //alert( "Handler for .submit() called." );
//   $(this).find('#fund_value').val($(this).find('#amount').val())
// });
</script>
<% end %>